*{
    margin: 0px 0px;
    padding: 0px 0px;
}
#title{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.color{
    width: 50px;
    height: 50px;
    border: 1px;
    border-style: solid;
    border-color: black; 
}

#color-palette{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#black{
    background-color: black;
}

#blue{
    background-color: rgb(89, 89, 239);
}

#yellow{
    background-color: rgb(255, 238, 0);
}

#red{
    background-color: rgb(242, 50, 50);
}

#pixel-board{
    width: 220px;
    height: 220px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
    flex-wrap: wrap
}

.pixel{
    width: 40px;
    height: 40px;
    border: 1px;
    border-color: black;
    border-style: solid;
    display: inline-block;
    background-color: white;
}

#clear-board{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

